*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: black;
}

h4{
    font-size: 20px;
    color: black;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: black;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

body {
    width: 100%;
    padding-top: 80px;
}

/*HEADER PART*/

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; /*top,left,right at etong width para di umigsi yung navbar */
    z-index: 1000; /* make sure it stays above other content */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px; /*top-bottom tas left and right */
    background-color: #FFFFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;/*para mawala yung bullets*/
    padding: 0 20px;/*para di dikit dikit yung list*/
}

#navbar li a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    color: black;
    letter-spacing: 1.5px;/*para magkaspace mga text sa navbar*/
    padding: 20px 20px;/*padding each texts sa navbar para malaki click area*/
}

#navbar li a.sale-link {
    color: #e63946 !important; /*!important para masunod to gawa naka li black na yung iba by defult*/
}

#navbar li a:hover {
    text-decoration: none;/* para matangal yung default na underline */
    border-bottom: 2px solid;/* custom underline */
    padding-bottom: 7px; 
    transition: border-bottom 0.05s;         
}

  
  
#cart-icon {
    list-style: none;/*para mawala yung bullets sa basket*/
    display: flex;
    align-items: center;
}

  #cart-icon a{
    padding: 10px 10px;/*padding ren sa cart para malaki click area*/
}



/*HERO INTRO*/

#hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 700px;
    overflow: hidden;
    background-color: #f8f8f8;
    cursor: pointer; /* shows it's clickable */
}

#bg-video {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px 60px 10px 60px; /* top right bottom left */
    object-fit: cover;
    z-index: 0;
}


.hero-content {
    letter-spacing: 3px;/*para magkaspace mga text sa video content*/
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif  !important;
    position: relative;
    z-index: 1;
    padding: 20px;
}

.hero-content h1 {
    color: white;
    font-size: 27px;
    font-weight: 1;
    margin-bottom: 5px;
}

.hero-content p {
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    color: white;
    border-bottom: 1px solid transparent; /*para di mukang naangat yung h1 pagnaghover to */
    transition: border-bottom 0.2s ease, color 0.2s ease;/*para premium transition*/
}

.hero-content p:hover {
    text-decoration: none;
    cursor: pointer;
    color: #f0f0f0; /* slightly lighter white */
    border-bottom: 1px solid;/* custom underline */
    transition: border-bottom 0.05s;   
}

  
  
  